---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>2023</h2>

<a href="https://doi.org/10.1145/3543507.3583508" target="_blank">Web Structure Derived Clustering for Optimised Web Accessibility Evaluation</a>
<b>Alexander Hambley</b>, Yeliz Yesilada, Markel Vigo, Simon Harper. Proceedings of the ACM Web Conference 2023. April 2023.

<a href="https://doi.org/10.1145/3587281.3587962" target="_blank">OPTIMAL-EM: Optimised Population Sourcing for Web Accessibility Evaluation</a>
<b>Alexander Hambley</b>, Yeliz Yesilada, Markel Vigo, Simon Harper. The 20th International Web for All Conference. April 2023.

<a href="https://doi.org/10.1145/3587281.3587701" target="_blank">Towards Optimised Population Sourcing for Web Accessibility Evaluation</a>
<b>Alexander Hambley</b>. The 20th International Web for All Conference. April 2023.

<h2>2022</h2>

<a href="https://doi.org/10.1145/3493612.3520452" target="_blank">Optimising the Website Accessibility Conformance Evaluation Methodology</a>
<b>Alexander Hambley</b>, Yeliz Yesilada, Markel Vigo, Simon Harper. The 19th International Web for All Conference. April 2022. <b>Best Paper Winner</b>.

<h2>2020</h2>

<a href="https://doi.org/10.1145/3458055.3458057" target="_blank">Empirical Web Accessibility Evaluation for Blind Web Users</a>
<b>Alexander Hambley</b>. ACM SIGACCESS Accessibility and Computing. January 2021.

<!-- 
  <h2>Graduate Instructor</h2>
  I am also a Graduate Instructor for the <b>User Experience</b> module at the University of Manchester. In the past, I have also taught on: </p>
<ul>
  <li>Database Systems</li>
  <li>Introduction to Programming II</li>
  <li>First Year Group Project</li>
</ul> -->


<!-- You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u> -->

<!-- {% if author.googlescholar %} -->
<!-- {% endif %} -->

<!-- {% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
