---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}
<h2>2022</h2>

<h2>2021</h2>

<h2>2020</h2>

<!-- 
  <h2>Graduate Instructor</h2>
  I am also a Graduate Instructor for the <b>User Experience</b> module at the University of Manchester. In the past, I have also taught on: </p>
<ul>
  <li>Database Systems</li>
  <li>Introduction to Programming II</li>
  <li>First Year Group Project</li>
</ul> -->


You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>

<!-- {% if author.googlescholar %} -->
<!-- {% endif %} -->

<!-- {% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
