---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p>You can also view my publications on <a href="https://scholar.google.com/citations?user=SxhzbtQAAAAJ&hl=en" target="_blank">Google Scholar</a>, my <a href="https://research.manchester.ac.uk/en/persons/alexander-hambley" target="_blank">University of Manchester</a> research page, or my <a href="https://orcid.org/0000-0003-1193-6632" target="_blank">ORCID</a>.</p>

<hr>


<h2>2024</h2>

<p>Identifying areas of poor health outcome risk due to food insecurity - A Geographically Weighted Regression approach.<br>
Ahmad Ammash, Emily Ennis, <b>Alexander Hambley</b>, Francesca Pontin.<br>
<a href="https://doi.org/10.5281/zenodo.10926900" target="_blank">32nd Annual GIS Research UK Conference (GISRUK). April 2024.</a></p>

<hr>

<h2>2023</h2>

<p>Web Structure Derived Clustering for Optimised Web Accessibility Evaluation.<br>
<b>Alexander Hambley</b>, Yeliz Yesilada, Markel Vigo, Simon Harper.<br>
<a href="https://doi.org/10.1145/3543507.3583508" target="_blank">Proceedings of the ACM Web Conference 2023. April 2023.</a></p>

<!-- <br> -->

<p>OPTIMAL-EM: Optimised Population Sourcing for Web Accessibility Evaluation.<br>
<b>Alexander Hambley</b>, Yeliz Yesilada, Markel Vigo, Simon Harper.<br>
<a href="https://doi.org/10.1145/3587281.3587962" target="_blank">The 20th International Web for All Conference. April 2023.</a></p>

<!-- <br> -->

<p>Towards Optimised Population Sourcing for Web Accessibility Evaluation.<br>
<b>Alexander Hambley</b>.<br>
<a href="https://doi.org/10.1145/3587281.3587701" target="_blank">The 20th International Web for All Conference. April 2023.</a></p>

<hr>

<h2>2022</h2>

<p>Optimising the Website Accessibility Conformance Evaluation Methodology. <b>Best Paper Winner</b>.<br>
<b>Alexander Hambley</b>, Yeliz Yesilada, Markel Vigo, Simon Harper.<br>
<a href="https://doi.org/10.1145/3493612.3520452" target="_blank">The 19th International Web for All Conference. April 2022.</a></p>

<hr>

<h2>2020</h2>

<p>Empirical Web Accessibility Evaluation for Blind Web Users.<br>
<b>Alexander Hambley</b>.<br>
<a href="https://doi.org/10.1145/3458055.3458057" target="_blank">ACM SIGACCESS Accessibility and Computing. January 2021.</a></p>


<!-- 
  <h2>Graduate Instructor</h2>
  I am also a Graduate Instructor for the <b>User Experience</b> module at the University of Manchester. In the past, I have also taught on: </p>
<ul>
  <li>Database Systems</li>
  <li>Introduction to Programming II</li>
  <li>First Year Group Project</li>
</ul> -->


<!-- You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u> -->

<!-- {% if author.googlescholar %} -->
<!-- {% endif %} -->

<!-- {% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
