---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<h2>Associate Lecturer</h2>
<p>I am an Associate Lecturer at The Open University on the <b><a href="https://www.open.ac.uk/courses/modules/m269" target="_blank">Algorithms, Data Structures and Computability</a></b> course. 
  <br>
  <!-- <br> -->
  <h2>Graduate Instructor</h2>
  I am also a Graduate Instructor for the <b>User Experience</b> module at the University of Manchester. In the past, I have also taught on: </p>
<ul>
  <li>Database Systems</li>
  <li>Introduction to Programming II</li>
  <li>First Year Group Project</li>
</ul>

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
