---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
(I am not currently lecturing)
<h2>Associate Lecturer</h2>
<p>I was an Associate Lecturer at The Open University on the <b><a href="https://www.open.ac.uk/courses/modules/m269" target="_blank">Algorithms, Data Structures and Computability</a></b> course. 
  <br>
  <!-- <br> -->
  <h2>Postgraduate Teaching Assistant</h2>
  In the past, I was a Postgraduate Teaching Assistant at the University of Manchester, teaching: </p>
<ul>
  <li>User Experience</li>
  <li>Database Systems</li>
  <li>Introduction to Programming II</li>
  <li>First Year Group Project</li>
</ul>

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
